<div class="row">
	<div class="col-sm-10">
<br>
<br>
<p style="color:white; font-size:24px"> Venuekick is a free web application project created with Ruby on Rails and Javascript using the Songkick API, Google Maps and Google Places Autocomplete APIs and the Instagram API by <a href="www.thegregrock.com" target="_blank" style="color: #df691a; text-decoration:none;">Greg Rock.</a></p>
</div>
<div class="col-sm-2"></div>
</div>